# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/

# Django
/static/
media/
*.log

# IDE
.vscode/
.idea/
.DS_Store

#google Oauth ID pass
.env


#画像フォルダ
/media/
